{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Empleado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idempleado</th>
                <td>{{ entity.idempleado }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ entity.apellidopaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ entity.apellidomaterno }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_empleado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_empleado_edit', { 'id': entity.idempleado }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
