{% extends 'FisiSigriBundle:Default:gestorLayout.html.twig' %}
{% block content %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <ul class="nav nav-tabs bordered">
        <li class="active">
            <a href="#dSolicitudEspera" data-toggle="tab">
                <span class="visible-xs"><i class="entypo-home"></i></span>
                <span class="hidden-xs">Solicitudes en espera</span>
            </a>
        </li>
        <li>
            <a href="#dSolicitudFinalizada" data-toggle="tab">
                <span class="visible-xs"><i class="entypo-user"></i></span>
                <span class="hidden-xs">Solicitudes finalizadas</span>
            </a>
        </li>
        <li>
            <a href="#dResumenSolicitudes" data-toggle="tab">
                <span class="visible-xs"><i class="entypo-mail"></i></span>
                <span class="hidden-xs">Resumen de solicitudes</span>
            </a>
        </li>            
    </ul>


    <div class="tab-content">


        <div class="tab-pane active" id="dSolicitudEspera">

            <div class="panel" data-collapsed="0">
                <!-- panel head -->
                <div class="panel-heading" >
                    <div class="panel-options" style="float: left;">				
                        <a href="#" data-rel="collapse" >Búsqueda avanzada</a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body" >
                    <div class="row" style="border-color: #cccccc; border-style: solid; border-width: 1px; padding-bottom: 15px; padding-top: 15px;">
                        <form role="form" method="post" id="buscarSolicitude_G" name="buscarSolicitude_G" action="{{ path('bandeja_entrada_gestor_m') }}">
                            <div class="col-lg-1">
                                <p> Periodo: </p><br/><br/>
                                <p> Otros  :</p>
                            </div >
                            <div class="col-lg-1">
                                <p> Inicio </p> <br/><br/>
                                <p> Estado </p>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">                                                                       
                                    <input type="text" class="form-control datepicker" name="f_inicioG" data-format="dd/mm/yyyy" value="{% if filtro.f_inicioG %}{{filtro.f_inicioG|date("m/d/Y")}}{% endif %}">
                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>
                                <br/>                                
                                <select name="estadoG" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                    {% for estado in estados %}
                                        <option value="{{estado.valor}}" {% if estado.seleccionado %}{{"selected"}}{% endif %}> {{estado.etiqueta}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2" style="text-align: right; ">
                                <p> Fin </p> <br/><br/>
                                <p> Prioridad </p>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" name="f_finG" data-format="dd/mm/yyyy" value="{% if filtro.f_finG %}{{filtro.f_finG|date("m/d/Y")}}{% endif %}">
                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>
                                <br/>

                                <select name="prioridadG" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                    {% for prioridad in prioridades %}                                    
                                        <option value="{{prioridad.valor}}" {% if prioridad.seleccionado %} {{"selected"}}{% endif %} >{{prioridad.etiqueta}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2" style="text-align: right;">
                                <p><br/></p><br/><br/>
                                <p> Unidad orgánica </p>
                            </div>
                            <div class="col-lg-2" style="text-align: center;">
                                <button type="submit" class="btn btn-default entypo-search" style="width: 140px;"> Buscar </button>
                                <br/><br/>
                                <select name="unidadOrganicaG" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                    <option value="" selected >--- Todos --</option>
                                    {% for unidadOrganica in unidadesOrganicas %}
                                        <option value="{{unidadOrganica.id}}"> {{unidadOrganica.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-4 col-xs-6" >
                    <div class="tile-stats tile-red">
                        <div class="icon"><i class="entypo-mail"></i></div>
                        <div class="num" data-start="0" data-end="{{cantEstado.PENDIENTE}}" data-postfix="" data-duration="1500" data-delay="0">{{cantEstado.PENDIENTE}}</div>
                        <h3>Pendientes</h3>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="tile-stats tile-orange">
                        <div class="icon"><i class="entypo-mail"></i></div>
                        <div class="num" data-start="0" data-end="{{cantEstado.PROCESO}}" data-postfix="" data-duration="1500" data-delay="600">{{cantEstado.PROCESO}}</div>
                        <h3>Proceso</h3>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="tile-stats tile-green">
                        <div class="icon"><i class="entypo-mail"></i></div>
                        <div class="num" data-start="0" data-end="{{cantEstado.FINALIZADO}}" data-postfix="" data-duration="1500" data-delay="1200">{{cantEstado.FINALIZADO}}</div>
                        <h3>Finalizado</h3>
                    </div>
                </div>

            </div>
            <div class="row" style="padding: 20px;">
                <table class="table table-bordered datatable dataTable" id="tbSolicitudProcesoGestor" role="grid" aria-describedby="table-1_info">
                    <thead>
                        <tr>                      
                            <th style="text-align: center; width: 5%;">N° de Solicitud</th>
                            <th style="text-align: center; width: 45%;">Título</th>
                            <th style="text-align: center; width: 15%;">Estado</th>                            
                            <th style="text-align: center; width: 20%;">Fecha</th>
                            <th style="text-align: center; width: 20%;">Hora</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for solicitud in solicitudes %} 
                            <tr href="{{asset('app_dev.php/gestor/menuPrincipal/bandejaEntrada/detalleSolicitud')}}/{{solicitud.idsolicitud}}">

                                <td style="text-align: center; width: 5%;">{{solicitud.idsolicitud}}</td>
                                <td style=" width: 45%;">{{solicitud.titulo}}</td>

                                <td style=" width: 15%; text-align: center;">
                        <center>
                            {% if solicitud.estado == "PENDIENTE"%}
                                <div  style="color: white; background-color: #FF9900; border-radius: 5px; padding:3px 0px 3px 0px; size:10px; width: 100px; ">{{solicitud.estado|capitalize}}</div>
                            {% endif %}
                            {% if solicitud.estado == "PROCESO"%}
                                <div  style="color: white; background-color: #00CC33; border-radius: 5px; padding:3px 0px 3px 0px; size:10px; width: 100px; ">{{solicitud.estado|capitalize}}</div>
                            {% endif %}
                            {% if solicitud.estado == "FINALIZADO"%}
                                <div  style="color: white; background-color: #FF0066; border-radius: 5px; padding:3px 0px 3px 0px; size:10px; width: 100px; ">{{solicitud.estado|capitalize}}</div>
                            {% endif %}
                        </center>
                        </td>                           
                        <td style="width: 20%; text-align: center;">{{solicitud.fechareporte|date("d/m/Y")}}</td>                               
                        <td style="width: 20%; text-align: center;">{{solicitud.horareporte|date("h:i:s")}}</td>                               
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>

                    jQuery('tr').on("click", function () {
                        if (jQuery(this).attr('href') !== undefined) {
                            document.location = jQuery(this).attr('href');
                        }
                    });
                </script>

            </div>

            <div class="row"> 
                <div style="float:right;" class="dataTables_paginate paging_bootstrap" id="table-1_paginate">
                    <ul class="pagination pagination-sm">
                        <li class="prev disabled">
                            <a href="#"><i class="entypo-left-open"></i></a>
                        </li><li class="active"><a href="#">1</a>
                        </li><li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#"><i class="entypo-right-open"></i>
                            </a></li></ul>
                </div>
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function ($)
                {
                    var table = jQuery("#table-1").dataTable({
                        "sPaginationType": "bootstrap",
                        "sDom": "<'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
                        "oTableTools": {
                        }
                    });
                });

            </script>
        </div>


        <div class="tab-pane" id="dSolicitudFinalizada">
            <div class="panel" data-collapsed="0">
                <div class="panel-heading" >
                    <div class="panel-options" style="float: left;">				
                        <a href="#" data-rel="collapse" >Búsqueda avanzada</a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body" >
                    <div class="row" style="border-color: #cccccc; border-style: solid; border-width: 1px; padding-bottom: 15px; padding-top: 15px;">
                        <div class="col-lg-1">
                            <p> Periodo: </p><br/><br/>
                            <p> Otros  :</p>
                        </div >
                        <div class="col-lg-1">
                            <p> Inicio </p> <br/><br/>
                            <p> Calificación </p>
                        </div>
                        <div class="col-lg-2">

                            <div class="input-group">
                                <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                <div class="input-group-addon">
                                    <a href="#"><i class="entypo-calendar"></i></a>
                                </div>
                            </div>
                            <br/>

                            <select name="test" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                <option>--- Seleccionar --</option>
                                <option value="0">Todos</option>
                                <option value="1">Excelente</option>
                                <option value="2">Bien</option>
                                <option value="3">Regular</option>
                                <option value="4">Malo</option>
                                <option value="5">Sin calificar</option>

                            </select>
                        </div>
                        <div class="col-lg-2" style="text-align: right; ">
                            <p> Fin </p> <br/><br/>
                            <p> Prioridad </p>
                        </div>
                        <div class="col-lg-2">

                            <div class="input-group">
                                <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                <div class="input-group-addon">
                                    <a href="#"><i class="entypo-calendar"></i></a>
                                </div>
                            </div>
                            <br/>
                            <select name="test" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                <option>--- Seleccionar --</option>

                                <option value="0">Todos</option>
                                <option value="1">Alta</option>
                                <option value="2">Media</option>
                                <option value="3">Baja</option>

                            </select>
                        </div>
                        <div class="col-lg-2" style="text-align: right;">
                            <p><br/></p><br/><br/>
                            <p> Unidad orgánica </p>

                        </div>

                        <div class="col-lg-2" style="text-align: center;">
                            <button type="button" class="btn btn-default entypo-search" style="width: 140px;"> Buscar </button>
                            <br/><br/>
                            <select name="test" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                <option>--- Seleccionar --</option>
                                <option value="0"> Todos</option>
                                <option value="1">AKI FATLAA**</option>
                                <option value="2">Proceso</option>
                                <option value="3">Finalizado</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <br/>
            <div class="row">                      
              <div class="col-sm-4 col-xs-6" >
            <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-mail"></i></div>
                <div class="num" data-start="0" data-end="{{cantEstado.PENDIENTE}}" data-postfix="" data-duration="1500" data-delay="0">{{cantEstado.PENDIENTE}}</div>
                <h3>Pendientes</h3>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="tile-stats tile-orange">
                <div class="icon"><i class="entypo-mail"></i></div>
                <div class="num" data-start="0" data-end="{{cantEstado.PROCESO}}" data-postfix="" data-duration="1500" data-delay="600">{{cantEstado.PROCESO}}</div>

                <h3>Proceso</h3>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-mail"></i></div>
                <div class="num" data-start="0" data-end="{{cantEstado.FINALIZADO}}" data-postfix="" data-duration="1500" data-delay="1200">{{cantEstado.FINALIZADO}}</div>

                <h3>Finalizado</h3>
            </div>
        </div>
                
                
            </div>

            <div class="row" style="padding: 20px;">
                <table class="table table-bordered datatable dataTable" id="tbSolicitudFinalizadaGestor" role="grid" aria-describedby="table-1_info">
                    <thead>
                        <tr>
                            <th>
                    <div class="checkbox checkbox-replace">
                        <input type="checkbox" id="chk-1">
                    </div>
                    </th>
                    <th style="text-align: center;">N° de Solicitud</th>
                    <th style="text-align: center;">Título</th>
                    <th style="text-align: center;">Prioridad</th>
                    <th style="text-align: center;">Estado</th>
                    <th style="text-align: center;">Fecha</th>
                    <th style="text-align: center;">Calificación</th>
                    </tr>
                    </thead>

                    <tbody>                            
                        <tr >                                
                            <td>
                                <div class="checkbox checkbox-replace">
                                    <input type="checkbox" id="chk-21">
                                </div>
                            </td>
                            <td>
                                0004
                            </td>
                            <td>
                                Laptop Malograda            
                            </td>
                            <td>
                                Sin asignar
                            </td>
                            <td>
                                Sin iniciar
                            </td>
                            <td>
                                07/06/2015
                            </td>                                    
                            <td>
                                Bueno
                            </td>                                    
                        </tr>
                    </tbody>

                </table>

                <script>

                    $('tr').on("click", function () {
                        if ($(this).attr('href') !== undefined) {
                            document.location = $(this).attr('href');
                        }
                    });

                </script>

            </div>

            <div class="row"> 

                <div style="float:right;" class="dataTables_paginate paging_bootstrap" id="table-1_paginate">
                    <ul class="pagination pagination-sm">
                        <li class="prev disabled">
                            <a href="#"><i class="entypo-left-open"></i></a>
                        </li><li class="active"><a href="#">1</a>
                        </li><li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#"><i class="entypo-right-open"></i>
                            </a></li></ul>
                </div>
            </div>


        </div>

        <div class="tab-pane" id="dResumenSolicitudes">
            Aki entran los grafico
        </div>
    </div>



{% endblock %}