<div class="form-horizontal validate " id="feditarCategoriaR" method="post" name="feditarCategoriaR" action="{{path('manteminientoCatalogoGestor')}}">
    <div class="form-group" >
        <div class="col-sm-4  control-label"  style="font-size: 12px; ">ID Categoria: </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" disabled  id="idCategoriaR" name="idCategoriaR" value="{{categoria.idcategoria}}" style="width: 100%;">
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-4  control-label"  style="font-size: 12px; ">Categoria: </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="nombreCategoriaR" name="nombreCategoriaR"  value="{{categoria.nombrecategoria}}"   style="width: 100%;">
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-4  control-label"  style="font-size: 12px; ">Descripción: </div>
        <div class="col-sm-6">
            <textarea cols="68" rows="4" class="form-control" id="descripcionCategoriaR" name="descripcionCategoriaR"    style="width: 100%; resize: none;">{{categoria.descripcioncategoria}}</textarea>

        </div>
    </div>

    <div>
        <center>
            <button type="button" class="btn btn-info"onclick="jQuery('#dMCEditarCategoria').modal('show', {backdrop: 'static'});"  >Aceptar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info">Cancelar</button>
        </center>

    </div>


</div>

<div class="modal fade" id="dMCEditarCategoria" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title">Mensaje de confirmación</h4>
            </div>
            <div class="modal-body row" style="padding: 20px 40px 40px 40px; ">
                <div class="col-lg-3" style="text-align: center;">
                    <i class="entypo-help-circled" style="font-size: 60px;"> </i>
                </div>
                <div class="col-lg-9" >
                    <br/>
                    <br/>
                    Esta seguro que desea guardar cambios <br/><br/>
                </div>
            </div>
            <div class="modal-footer"><center>

                    <button type="button" id="btnEditarCategoriaR"   class="btn btn-info"> Si </button>
                    <button type="button" class="btn btn-info" data-dismiss="modal"> No </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery("#btnEditarCategoriaR").click(function () {
        var nombreCategoriaR = jQuery("#nombreCategoriaR").val();
        var descripcionCategoriaR = jQuery("#descripcionCategoriaR").val();    
        var idCategoriaR = jQuery("#idCategoriaR").val();    
        jQuery.ajax({
            type: 'POST',
            url: '{{ path('editarCategoriaG') }}',
            data: {
                'nombreCategoriaR': nombreCategoriaR,
                'idCategoriaR': idCategoriaR,
                'descripcionCategoriaR': descripcionCategoriaR
            },
            dataType: 'json',
            success: function (data) {
                alert("Lactualizacion se realiz con éxito");
                jQuery("#feditarCategoriaR").submit();
            }
        });
            jQuery("#btnEditarCategoriaR").attr("data-dismiss", "modal");      
    });
</script>