{% extends 'FisiSigriBundle:Default:gestorLayout.html.twig' %}


{% block mainmenu %}

    {% include 'FisiSigriBundle:public:js/funciones.js.twig' %}    

    <ul id="main-menu" class="main-menu" >
        <li >
            <a  href="{{path('manteminientoCatalogoGestor')}}">
                <i class="entypo-book"></i>
                <span class="title"> Manteminiento de cat치logo </span>
            </a>
        </li>
    </ul>
{% endblock %}



{% block content %}   



    <script src="{{ asset('bundles/jquery/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
	
	
    <div>
        <h4> Responsable </h4>

        <div class="row">
            <div class="col-sm-4 form-group" >
                <div class="col-sm-2  control-label"  style="font-size: 12px;">Gestor: </div>
                <div class="col-sm-9">
                    <input type="text" value="{{[empleado.nombre, ' ',empleado.apellidopaterno,' ',empleado.apellidomaterno]|join }}" disabled style="width: 100%; background-color: white; border: solid; border-color: #cccccc; border-width: 0.2px; margin-left: 14px;">
                </div>
            </div>

            <div class="col-sm-4 form-group" >
                <div class="col-sm-2  control-label"  style="font-size: 12px; ">Cargo: </div>
                <div class="col-sm-9">
                    <input type="text" value="Nombre del cargo" disabled style="width: 100%; background-color: white; border: solid; border-color: #cccccc; border-width: 0.2px; margin-left: 14px;">
                </div>
            </div>
            <div class="col-sm-4 form-group" >
                <center>
                    <a  class="btn" style="background-color: #0099FF; color: white" onclick="registrarCategoriaV();"  >
                        <i class="entypo-plus"></i>
                        <span style="font-size: 12px;"> Nueva categoria</span>
                    </a>     
                </center>

            </div>

        </div>


        <h1> Cat치logo </h1>

        <div class="row">

            <div class="col-lg-6">                
                <fieldset >
                    <legend>Lista de categorias</legend>
           <form role="form" method="post" id="fBuscarCategoria" name="fBuscarCategoria" action="{{ path('manteminientoCatalogoGestor') }}">
                    <div class="col-sm-8 form-group" >
                        <div class="col-sm-4  control-label"  style="font-size: 12px; margin-left: -20px "> Nombre de categoria </div>
                        <div class="col-sm-8">
                            <input type="text" id="nombreCategoriaBA" name="nombreCategoriaBA"  style="width: 115%;">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        
						<button type="submit" class="btn btn-default entypo-search" style="width: 140px;"> Buscar </button>
                    </div>
					</form>

                </fieldset>

                <div class="row" style="padding: 20px;">
                    <table class="table table-bordered datatable dataTable" id="tbSolicitudProcesoGestor" role="grid" aria-describedby="table-1_info">
                        <thead>
                            <tr>

                                <th style="text-align: center; width: 25%;">Categoria</th>
                                <th style="text-align: center; width: 50%;">Descripci칩n</th>
                                <th style="text-align: center; width: 25%;">Opciones</th>
                            </tr>
                        </thead>


                        <tbody>
						
						
						
                            {% for categoria in categorias %}
                            <tr>
                                <td style="width: 25%;"> {{categoria.nombrecategoria|capitalize}} </td>
                                <td style="width: 25%;">{{categoria.descripcioncategoria|capitalize}}</td>
                                <td style="text-align: center; width: 25%;">
                                    <button type="button" class="btn btn-gold"  onclick="editarCategoriaV('{{categoria.idcategoria}}');">		
                                        <i class="entypo-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger"  onclick="eliminarCategoriaV('{{categoria.idcategoria}}');">		
                                        <i class="entypo-trash"></i>
                                    </button>
                                </td>
                            </tr>   
                            {% endfor %}
                        </tbody>

                    </table>
                    <script>

                        $('tr').on("click", function () {
                            if ($(this).attr('href') !== undefined) {
                                document.location = $(this).attr('href');
                            }
                        });

                    </script>

                </div>

                <div class="row"> 

                    <div style="float:right; margin-right: 20px;" class="dataTables_paginate paging_bootstrap" id="table-1_paginate">
                        <ul class="pagination pagination-sm">
                            <li class="prev disabled">
                                <a href="#"><i class="entypo-left-open"></i></a>
                            </li><li class="active"><a href="#">1</a>
                            </li><li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#"><i class="entypo-right-open"></i>
                                </a></li></ul>
                    </div>
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function ($)
                    {
                        var table = $("#table-1").dataTable({
                            "sPaginationType": "bootstrap",
                            "sDom": "<'row'<'col-xs-6 col-left'l><'col-xs-6 col-right'<'export-data'T>f>r>t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
                            "oTableTools": {
                            },
                        });
                    });

                </script>
            </div>


            <div class="col-lg-6">   
                <fieldset>
                    <legend> Resultado</legend>
                    <div class="row" style="padding-left: 20px;">
                        <fieldset>
                            <div><h2> Mantenimiento</h2></div>
                            <div  id="dRegistro" style="margin-left: 20px;   width: 460px; height: 260px; border: solid; border-width:1px; border-color: #F4F4F4; border-radius: 10px; padding-top: 20px;">

                            </div>
                        </fieldset>
                    </div>

                    <br/>
                    <div class="row" style="padding-left: 20px;">
                        <fieldset>
                            <div><h5>Gr치fico estadistico</h5></div>
                            <div style="margin-left: 20px;   width: 460px; height: 260px; border: solid; border-width:1px; border-color: #F4F4F4; border-radius: 10px;">
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>

{% endblock%}

{% block javascripts_unique %}
    {% javascripts 
        
        '@FisiSigriBundle/Resources/public/template/js/jquery.validate.min.js'

    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}


