{% extends 'FisiSigriBundle:Default:personalLayout.html.twig' %}
{% block title %}Personal 1{% endblock %}
{% block content %}

    <!--Datos de la actividad><-->


    <center><h1>N° Actividad {{actividad.idactividad}} </h1></center>
    <center><div class="panel-body">
            <form role="form" class="form-horizontal ">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Solicitante</label>

                    <div class="col-sm-5">

                        <input type="text" class="form-control daterange" disabled value="{{actividad.solicitud.empleado.nombre}}"/> 
                        <input type="hidden" value="{{actividad.idactividad}}" id="idactividad"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Título</label>

                    <div class="col-sm-5">

                        <input type="text" class="form-control daterange" disabled  value="{{actividad.tituloact}}"/> 


                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Estado</label>

                    <div class="col-sm-5">

                        <input type="text" class="form-control daterange" disabled value="{{actividad.estadoact}}"/> 


                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Fecha Estimada</label>

                    <div class="form-group">
                        <div class="form-group" style="
                             margin-left: 0px;
                             margin-right: 30px;
                             border-right-width: 100px;
                             padding-left: 235px;
                             border-left-width: 50px;
                             " >
                            <label class="col-sm-1 control-label" style="margin:5px;">Inicio</label>	

                            <div class="col-sm-3" >
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-format="dd/mm/yyyy" value="{% if actividad.fechaeinicio %}{{actividad.fechaeinicio|date("d/m/Y")}}{% endif %}" disabled>

                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>
                            </div>


                            <label class="col-sm-1 control-label" style="margin:5px;">Fin</label>

                            <div class="col-sm-3" >
                                <div class="input-group">
                                    <input type="text" class="form-control "  data-format="dd/mm/yyyy" value="{% if actividad.fechaefin%}{{actividad.fechaefin|date("d/m/Y")}}{% endif %}" disabled>

                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Fecha Real</label>

                    <div class="form-group">
                        <div class="form-group" style="
                             margin-left: 0px;
                             margin-right: 30px;
                             border-right-width: 100px;
                             padding-left: 235px;
                             border-left-width: 50px;
                             " >
                            <label class="col-sm-1 control-label" style="margin:5px;">Inicio</label>

                            <div class="col-sm-3" >
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-format="dd/mm/yyyy" value="{% if actividad.fecharinicio %}{{actividad.fecharinicio|date("d/m/Y")}}{% endif %}" disabled>

                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>
                            </div>


                            <label class="col-sm-1 control-label" style="margin:5px;">Fin</label>

                            <div class="col-sm-3" >
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-format="dd/mm/yyyy" value="{% if actividad.fecharfin %}{{actividad.fecharfin|date("d/m/Y")}}{% endif %}" disabled>

                                    <div class="input-group-addon">
                                        <a href="#"><i class="entypo-calendar"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Prioridad</label>

                    <div class="col-sm-5">

                        <input type="text" class="form-control daterange" disabled value="{{actividad.prioridadact}}"/>

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Descripción</label>

                    <div class="col-sm-5">

                        <textarea class="form-control" id="field-ta" disabled  >{{actividad.descripcionact}}</textarea>

                    </div>
                </div>
            </form>


        </div></center>


    <br>
    <br>


    <!--Desarrollo de Actividad><-->

    <center><h1>Desarrollo de Actividad </h1></center>

    {% if actividad.estadoact != "FINALIZADO" %}

        <center><div class="panel-body">

                <form role="form" class="form-horizontal form-groups-bordered">

                    <div class="col-sm-offset-3 col-sm-5" style=" margin-left: 300px;">						
                        {% if actividad.estadoact != "PROCESO" %}
                            <button type="button" class="btn btn-default" id="iniciarAct">Iniciar Actividad</button>
                        {% endif %}
                        <button type="button" class="btn btn-default"id="finalizarAct">Finalizar Actividad</button>
                    </div>
                </form>
            </div>
        </center>

    {% endif %}

    <br>
    <br>


    <!--Linea de Tiempo><-->
    <center><h1>Línea de Tiempo</h1></center>
    <br>
    <br>


    {% if actividad.estadoact != "FINALIZADO" %}
        <center><div class="panel-body">

                <form role="form" class="form-horizontal form-groups-bordered">

                    <div class="col-sm-offset-3 col-sm-5" style=" margin-left: 300px;">                     

                        <a href="javascript:;"  onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});" class="btn btn-default">Registrar avance</a>

                    </div>
                </form>




            </div>
        </center>
    {% endif %}

    <div class="timeline-centered" style="
         margin-left: 0px;
         margin-right: 100px;
         ">

        {% for avance in avances %}

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-12-09T03:45"><span>{% if avance.fechaavance %}{{avance.fechaavance|date("H:i")}}{% endif %}</span> <span>{% if avance.fechaavance %}{{avance.fechaavance|date("d/m/Y")}}{% endif %}</span></time>

                    <div class="timeline-icon bg-success">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">

                        <p>{{avance.descripcionavc}}</p>
                        <p>{{avance.progresoavc}}%</p>

                    </div>
                </div>

            </article>
        {% endfor %}
        <article class="timeline-entry begin">

            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i>
                </div>

            </div>

        </article>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>                
                <td>
                    <strong>Gráfica</strong>
                    <br />
                    <div id="chart8" style="height: 300px"></div>
                </td>
            </tr>
        </tbody>
    </table>



    <!--Notificacion><-->



    <!-- Modal 6 (Long Modal)-->
    <div class="modal fade" id="modal-6">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Registrar Avance</h4>
                </div>

                <div class="modal-body" style="">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group no-margin">
                                <label for="field-7" class="control-label">Mensaje</label>

                                <textarea class="form-control autogrow" id="mensajeAvance"  ></textarea>
                            </div>	

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group no-margin">
                                <label for="field-7" class="control-label">Progreso</label>



                                <div class="row">
                                    <div class="col-sm-6">
                                        <select id="progresoopt" class="selectboxit">
                                            <option value="10">10 %</option>
                                            <option value="20">20 %</option>
                                            <option value="30">30 %</option>
                                            <option value="40">40 %</option>
                                            <option value="50">50 %</option>
                                            <option value="60">60 %</option>
                                            <option value="70">70 %</option>
                                            <option value="80">80 %</option>
                                            <option value="90">90 %</option>
                                            <option value="100">100 %</option>
                                        </select>
                                    </div>
                                </div>


                            </div>	

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-info" id="guardarMsje" class="btn btn-default">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal 4 (Confirm)-->
    <div class="modal fade" id="modal-4" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Mensaje de información</h4>
                </div>

                <div class="modal-body">

                    Su mensaje fue enviado con éxito

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>







    <br>
    <br>

</div>

{% endblock %}

{% block javascripts_unique %}
    {% javascripts 
        '@FisiSigriBundle/Resources/public/template/js/bootstrap-datepicker.js'
        '@FisiSigriBundle/Resources/public/template/js/icheck/icheck.min.js'
        '@FisiSigriBundle/Resources/public/template/js/neon-charts.js'
        '@FisiSigriBundle/Resources/public/js/dateformat.js'

    %}
    <script src="{{ asset_url }}"></script>



    {% endjavascripts %}

    <script>
                            jQuery("#modal-6").on("shown.bs.modal", function () {
                                jQuery("#mensajeAvance").val("");
                                jQuery('#modal-6 .modal-body').css('height', 400);
                            });

                            jQuery("#guardarMsje").click(function () {

                                var idactividad = jQuery("#idactividad").val();
                                var mensajeAvance = jQuery("#mensajeAvance").val();
                                var progresoopt = jQuery("#progresoopt").val();

                                if (idactividad === "" || mensajeAvance === "" || progresoopt === "") {
                                    alert("Información incompleta");
                                }

                                jQuery.ajax({
                                    type: 'POST',
                                    url: '{{ path('guardarAvance') }}',
                                    data: {'id': idactividad, 'descripcion': mensajeAvance, 'progreso': progresoopt},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["status"] === "ok") {
                                            alert("Avance guardado exitósamente");
                                            window.location.replace("{{ path('gestionar_actividad_personal', {'id':actividad.idactividad})}}");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert("Se ha producido un error");
                                    }
                                });
                            });

                            jQuery("#iniciarAct").click(function () {

                                var idactividad = jQuery("#idactividad").val();

                                if (idactividad === "") {
                                    alert("Información incompleta");
                                }

                                jQuery.ajax({
                                    type: 'POST',
                                    url: '{{ path('InicarActividad') }}',
                                    data: {'id': idactividad},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["status"] === "ok") {
                                            alert("Actividad Iniciada");
                                            window.location.replace("{{ path('gestionar_actividad_personal', {'id':actividad.idactividad})}}");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert("Se ha producido un error");
                                    }
                                });
                            });

                            jQuery("#finalizarAct").click(function () {

                                var idactividad = jQuery("#idactividad").val();

                                if (idactividad === "") {
                                    alert("Información incompleta");
                                }

                                jQuery.ajax({
                                    type: 'POST',
                                    url: '{{ path('finalizarAct') }}',
                                    data: {'id': idactividad},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["status"] === "ok") {
                                            alert("Actividad Finalizada");
                                            window.location.replace("{{ path('gestionar_actividad_personal', {'id':actividad.idactividad})}}");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert("Se ha producido un error");
                                    }
                                });
                            });

                            var idactividad = jQuery("#idactividad").val();
                            var cantidades = null;
                            jQuery.ajax({
                                type: 'POST',
                                url: '{{ path('reporteActividad') }}',
                                data: {'id': idactividad},
                                dataType: 'json',
                                success: function (data) {
                                    cantidades = data;
                                    var day_data = [];
                                    if (cantidades !== null) {
                                        for (key in cantidades){
                                            var fecha = (new Date( (cantidades[key].fecha).timestamp * 1000)).format("dd/mm/yyyy");                                                                                   
                                            day_data.push({"elapsed": fecha, "value": cantidades[key].cantidad});                                           
                                        }
                                        
                                        Morris.Line({
                                            element: 'chart8',
                                            data: day_data,
                                            xkey: 'elapsed',
                                            ykeys: ['value'],
                                            labels: ['value'],
                                            parseTime: false,
                                            lineColors: ['#242d3c']
                                        });
                                        
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert("No se puede mostrar la gráfica");
                                }
                            });
                            
    </script>

{% endblock %}

{% block stylesheets_unique %}
    {% stylesheets
      
        '@FisiSigriBundle/Resources/public/template/js/rickshaw/rickshaw.min.css'

    %}
    <stylesheets src="{{ asset_url }}"></stylesheets>

{% endstylesheets %}{% endblock %}


